<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>성별</th>
				<th>나이</th>
			</tr>
		</thead>
		<tbody>
			{% for emp in list %}
			<tr>
				<td><a href="javascript:setJquery('{{emp.e_id}}','{{emp.e_name}}','{{emp.sex}}','{{emp.age}}');">{{emp.e_id}}</a></td>
				<td>{{emp.e_name}}</td>
				<td>{{emp.sex}}</td>
				<td>{{emp.age}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr>
	<table>
		<tbody>
			<tr>
				<td>아이디</td>
				<td><input id="e_id" type="text"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input id="e_name" type="text"></td>
			</tr>
			<tr>
				<td>성별</td>
				<td><input id="sex" type="text"></td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input id="age" type="text"></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="button" onclick="myInsert()" value="추가">
					<input type="button" onclick="myUpdate()" value="수정">
					<input type="button" onclick="myDelete()" value="삭제">
				</td>
			</tr>
		</tbody>
	</table>
	<script src="jquery-3.6.0.min.js"></script>
	<script>
		function set(e_id,e_name,sex,age){
			var idInput = document.getElementById("e_id");
			var nameInput = document.getElementById("e_name");
			var sexInput = document.getElementById("sex");
			var ageInput = document.getElementById("age");

			idInput.value = e_id;
			nameInput.value = e_name;
			sexInput.value = sex;
			ageInput.value = age;
		}
		
		function setJquery(e_id,e_name,sex,age){
			$("#e_id").val(e_id);
			$("#e_name").val(e_name);
			$("#sex").val(sex);
			$("#age").val(age);
		}
		
		function myInsert(){
			var e_id = $("#e_id").val();
			var e_name = $("#e_name").val();
			var sex = $("#sex").val();
			var age = $("#age").val();
			
			var postData = {
				'e_id': e_id, 'e_name': e_name, 'sex': sex, 'age':age
			}
			
			$.ajax({
		    	type: 'POST',
				url: 'myInsert',
		        data: JSON.stringify(postData),
		        dataType : 'JSON',
		        contentType: "application/json",
		        success: function(data){
		        	if(data.result == "success"){	        		
			        	alert("정상적으로 추가되었습니다.");
			            location.reload();
		        	}
		        },
		        error: function(request, status, error){
		        	alert("통신 실패");
		            console.log(request, status, error);
		        }
		     })
		}
		
		function myUpdate(){
			var e_id = $("#e_id").val();
			var e_name = $("#e_name").val();
			var sex = $("#sex").val();
			var age = $("#age").val();
			
			var postData = {
				'e_id': e_id, 'e_name': e_name, 'sex': sex, 'age':age
			}
			
			$.ajax({
		    	type: 'POST',
				url: 'myUpdate',
		        data: JSON.stringify(postData),
		        dataType : 'JSON',
		        contentType: "application/json",
		        success: function(data){
		        	if(data.result == "success"){	        		
			        	alert("정상적으로 수정되었습니다.");
			            location.reload();
		        	}
		        },
		        error: function(request, status, error){
		        	alert("통신 실패");
		            console.log(request, status, error);
		        }
		     })
		}
		
		function myDelete(){
			var flag = confirm("정말 삭제하시겠습니까?");
			if(!flag){
				return;
			}
			var e_id = $("#e_id").val();
			
			var postData = {
				'e_id': e_id
			}
			
			$.ajax({
		    	type: 'POST',
				url: 'myDelete',
		        data: JSON.stringify(postData),
		        dataType : 'JSON',
		        contentType: "application/json",
		        success: function(data){
		        	if(data.result == "success"){	        		
			        	alert("정상적으로 삭제되었습니다.");
			            location.reload();
		        	}
		        },
		        error: function(request, status, error){
		        	alert("통신 실패");
		            console.log(request, status, error);
		        }
		     })
		}
	</script>
</body>
</html>